﻿        @model InventoryUI.ViewModel.ProductViewModel

@{
    ViewBag.Title = "Edit";
}

 <h2> Edit </h2> 
<div align = "center"
width = "500px" >
@using (Html.BeginForm("Edit", "Product", FormMethod.Post))
{ <table class = "table"width ="400px" cellpadding = "20" >
      <tr class="btn-default">
      <tr>
          <td>
              @Html.DisplayNameFor(model => model.product.SKU)
          </td>
          <td>
              @Html.TextBoxFor(model => model.product.SKU)
              @Html.ValidationMessageFor(model => model.product.SKU)
          </td>
      </tr>
      <tr>
          <td>
              @Html.DisplayNameFor(model => model.product.Description)
          </td>
          <td>
              @Html.TextBoxFor(model => model.product.Description)
              @Html.ValidationMessageFor(model => model.product.Description)
          </td>
      </tr>
      <tr>
          <td>
              @Html.DisplayNameFor(model => model.product.QuantityInStock)
          </td>
          <td>
              @Html.TextBoxFor(model => model.product.QuantityInStock)
              @Html.ValidationMessageFor(model => model.product.QuantityInStock)
          </td>
      </tr>
      <tr>
          <td>
              @Html.DisplayNameFor(model => model.product.FinalPrice)
          </td>
          <td>
              @Html.TextBoxFor(model => model.product.FinalPrice)
              @Html.ValidationMessageFor(model => model.product.FinalPrice)
          </td>
      </tr>
      <tr>
          <td>
              @Html.DisplayNameFor(model => model.product.RegularPrice)
          </td>
          <td>
              @Html.TextBoxFor(model => model.product.RegularPrice)
              @Html.ValidationMessageFor(model => model.product.RegularPrice)
          </td>
      </tr>
      <tr>
          <td>
              @Html.DisplayNameFor(model => model.product.ApplyTaxes)
          </td>
          <td>
              @Html.CheckBoxFor(model => model.product.ApplyTaxes)

              @Html.ValidationMessageFor(model => model.product.ApplyTaxes)
          </td>
      </tr>
      <tr>
          <td>
              @Html.DisplayNameFor(model => model.product.TaxRate)
          </td>
          <td>
              @Html.TextBoxFor(model => model.product.TaxRate)
              @Html.ValidationMessageFor(model => model.product.TaxRate)
          </td>
      </tr>
      <tr>
          <td>
              @Html.DisplayNameFor(model => model.product.Image)
          </td>
          <td>
              @Html.TextBoxFor(model => model.product.Image)
              @Html.ValidationMessageFor(model => model.product.Image)
          </td>
      </tr>

      <tr>
          <td>
              @Html.DisplayNameFor(model => model.product.Location)
          </td>
          <td>
              @Html.TextBoxFor(model => model.product.Location)
              @Html.ValidationMessageFor(model => model.product.Location)
          </td>
      </tr>

        
         <tr >
    <td > < /td>

    <td >
    <input type = "submit" value = "Save" / > &nbsp; <a class = "btn-primary"
    href = "@Url.Action("Index","Product")" > Back </a>
    @Html.HiddenFor(model => model.product.ID) 
        </td> </tr> 
    </table>
    } </div> 

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
