﻿@model IEnumerable<InventoryUI.Models.Product>

@{
    ViewBag.Title = "Index";
} 
  
<h2> Index </h2>  
  
<div align = "center">  
    <a href = "@Url.Action("Create","Product")">Add New Product</a> 
    <br /> <br />  
    <table cellpadding = "2" class = "table"  cellspacing = "2"  border = "1">  
    <tr class = "btn-primary">  
        <th>
            @Html.DisplayNameFor(model => model.SKU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantityInStock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinalPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegularPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplyTaxes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaxRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th></th> 
        </tr>  
@foreach(var item in ViewBag.listProducts)  { 
    <tr class = "btn-success">  
        <td>  
        @item.SKU </td> 
        <td>  
        @item.Description </td> 
        <td>
            @item.QuantityInStock
        </td>
        <td>
            @item.FinalPrice
        </td>
        <td>
            @item.RegularPrice
        </td>
        <td>
            @item.ApplyTaxes
        </td>
        <td>
            @item.TaxRate
        </td>
        <td>
            @item.Image
        </td>
        <td>
            @item.Location
        </td>
        <td>
            <a onclick = "return confirm('Do you want to Delete?')"
            href = "@Url.Action("Delete","Product",new {id= item.ID})">Delete</a> ||
<a href="@Url.Action("Edit","Product",new {id= item.ID})">Edit</a> 
            </td>
    </tr>
    } 
        </table> 
    </div>
